# Lists

In [1]:
[1, 2, 3, 4, 5]
# parse list and use the TYPE function to determine the type of the list
type([1, 2, 3, 4, 5])

list

In [4]:
my_list = [7, 21, 9, 27, 5]
my_list[0]

5

In [5]:
my_list = [7, 21, 9, 27, 5]
# Retrieve last element of the list
my_list[-1]

5

In [ ]:
my_list = [7, 21, 9, 27, 5]
# Python will return elements 0, 1, and 2 NOT 3!
my_list[0:3]
# you can also do [:3] to get the same result; it interprets the 0 as the start of the list

In [ ]:
my_list = [7, 21, 9, 27, 5]
# retrieve last 3 elements of the list

In [14]:
# Reassigning elements
my_list[0] = 'First'
my_list[-1] = ['one', 'two', 'three']

In [9]:
# len() gives you the length 
print(len(my_list))

5

In [13]:
# methods are functions that are built into objects
my_list.extend([10, 11, 12])
print(my_list)

['First', 21, 9, 27, [1, 2, 3], 10, 11, 12, 10, 11, 12, 10, 11, 12, 10, 11, 12]

In [23]:
# find out diff btwn extend, append, and insert
my_list.pop()
my_list

['First', 21, 9, 27, [1, 2, 3], 10, 11, 12]

In [ ]:
my_list1 = [1, 2, 3, 4, 5]
my_list2 = [6, 7, 8, 9, 10]

In [ ]:
# concatenate lists
my_list1 + my_list2

In [ ]:
# repeat lists 
my_list1 * 3

In [25]:
# bool to check if an element is in a list
my_list1 = [1, 2, 3, 4, 5]
5 in my_list1

True

In [ ]:
# reverse() method to reverse the order of the list

In [ ]:
#you can create new arrays/lists by using the list() function, but this is not common 
list(range(10))

# Tuples

In [29]:
# tuples are immutable lists; they are created using parentheses and you cannot change the elements
# use tuple() to create a tuple
tuple_1 = 2, 4, 5, 7, 'ring'
tuple_1
tuple_2 = (1, 2, 'three', list('Python')) 
tuple_2

(1, 2, 'three', ['P', 'y', 't', 'h', 'o', 'n'])

In [ ]:
languages = ['Python', 'R', 'Julia']
# Assign each element var names
one, two, three = languages
# note that you can't really do this with lists

In [30]:
# the zip() function is used to combine two lists into a list of tuples
names = ['John', 'Sally', 'Tom']
surnames = ['Smith', 'Johnson', 'Brown']
list(zip(names, surnames))
# * notation can unzip lists

[('John', 'Smith'), ('Sally', 'Johnson'), ('Tom', 'Brown')]

# Dictionaries

In [31]:
# are KVPs
# dictionaries are created using curly brackets
# keys are immutable and unique (can't have two keys with the same name)
id345 = {'name': 'John', 'surname': 'Smith', 'age': 34, 'heart_rate': 75}
id345

{'name': 'John', 'surname': 'Smith', 'age': 34, 'heart_rate': 75}

In [32]:
# keys() method to get the keys, & values() method to get the values
id345.keys()

dict_keys(['name', 'surname', 'age', 'heart_rate'])

In [33]:
# dictname['key'] to get the value of a key
id345['name']

'John'

In [34]:
# get() method can also be used 
# returns nothing if key is not found
id345.get('LastName')

In [35]:
# dict function to create new dictionaries; NO COLONS!
my_dict = dict(name='John', surname='Smith', age=34, heart_rate=75)
my_dict1 = dict([('name', 'John'), ('surname', 'Smith'), ('age', 34), ('heart_rate', 75)])

# Sets

In [ ]:
# unordered collections of unique elements, no indices 
# ALSO created using curly brackets

# List comprehension

In [37]:
# recipe for creating elements of a list 
[x**2 for x in range(1, 11)]
[n**2 for n in range(1, 11) if n > 5]

[36, 49, 64, 81, 100]