In [1]:
import numpy as np

Question 1

In [1]:
3 * 8

24

In [2]:
(33 + 7) / 5

8.0

Question 2

In [3]:
# The data type of the outpur of 1 + 2. is a FLOAT 
1 + 2.

3.0

In [4]:
# The data type of the output of the code 1 + 2 is an INTEGER
1 + 2

3

Question 3

In [5]:
for n in range(1, 6):
    print(n*n)
    # or print(n**2)

1
4
9
16
25

Question 4

In [7]:
i = 1
while i**2 < 1000:
    i += 1

print(i)

32